.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.justify {
    float: none;
    margin: 0 auto;
    text-align: justify;
}

body {
    color: #000;
    font-family: 'Cabin', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

h1 {
    font-weight: 700;
}

a {
    color: #000;
    text-decoration: underline;
}

.highlight {
    font-style: italic;
    color: #BBB;
}

.bottom-large-spacer {
    padding-bottom: 60px;
}

.bottom-med-spacer {
    padding-bottom: 40px;
}

.bottom-small-spacer {
    padding-bottom: 20px;
}

.top-small-spacer {
    padding-top: 20px;
}

.top-med-spacer {
    padding-top: 40px;
}

.top-large-spacer {
    padding-top: 60px;
}



.ko-op {
    background-color: white;
}

.ko-op p {
    color: black;
}

.ko-op .right-col {
    text-align:right;
}

.red-rover {
    background-color: black;
    background-image: url('starbg.png');
}

.red-rover .logo {
    margin-top: 60px;
}

.red-rover .right-col {
    text-align:right;
}


.skipping-stones {
    background-color: #400080;
}

.skipping-stones .logo {
    margin-top: 113px;
}

.skipping-stones .right-col {
    text-align:right;
}

.project-container {
    padding-left:10px;
    padding-right:10px;
}

#main {
    margin: 0 auto;
    float: none;
}

.hover {
    margin-top:-20px;
}

#stones {
    padding-top: 10px;
}

.links {
    font-size: 24px;
}
